NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_BROWSER_API_KEY=
CLERK_SECRET_KEY=

DATABASE_URL=

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=uploads-temp

GOOGLE_PLACES_API_KEY=
GOOGLE_PLACES_MAX_SEARCHES_PER_ANALYSIS=24

LOCATIONIQ_API_KEY=

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
